---
interface Props {
    moneyPrefix?: string;
    valuePostFix?: string;
    title: string;
    value: number;
    iconClass: string;
    nextMonth?: boolean;
}
---
<div class="relative">
    {
        Astro.props.nextMonth && (
            <div class="absolute z-10 uppercase text-xs bg-indigo-600 text-white rounded-md -right-4 -top-2 p-[2px] px-2 scale-75">
                <small>Next Month</small>
            </div>
        )
    }
    <div class="bg-white rounded-md shadow-md relative overflow-hidden">
        <div class={"absolute -left-8 rounded-full w-24 h-20 flex items-center justify-center " + Astro.props.iconClass}>
            <div class="w-16 h-16 rotate-12 ml-4">
                <slot />
            </div>
        </div>
        <div class="p-4 flex flex-col items-end">
            <div class="text-xs uppercase">
                <small>{Astro.props.title}</small>
            </div>
            <div class="text-lg font-semibold">
                {Astro.props.moneyPrefix} {Astro.props.moneyPrefix ? Astro.props.value.toFixed(2) : Astro.props.value} {Astro.props.valuePostFix}
            </div>
        </div>
    </div>
</div>