---
import { TextField } from "../components/TextField";

let url: string | undefined;
let token: string | undefined;

if (Astro.request.method === "POST") {
	const form = await Astro.request.formData()
	const urlVal = form.get("url")
	const tokenVal = form.get("token")

	if (urlVal && tokenVal) {
		url = urlVal.toString()
		token = tokenVal.toString()
		Astro.cookies.set("fintrackApiUrl", url);
		Astro.cookies.set("fintrackApiToken", token);
	}
} else {
	url = Astro.cookies.get("fintrackApiUrl").value
	token = Astro.cookies.get("fintrackApiToken").value
}

if (url && token) {
	return Astro.redirect("/transact")
}
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>FinTckr</title>
	</head>
	<body>
        <header class="p-3 bg-indigo-600 text-white text-center font-light text-lg">
            Fin<span class="font-bold">Tckr</span>
        </header>
		<form class="max-w-xs mx-auto flex flex-col gap-8 mt-10" method="post">
			<TextField label="API Url" name="url" placeholder="http://fintrack..." />
			<TextField label="API Token" name="token" type="password" placeholder="XXXXXXX-XXXXXX-XXXXX" />
			<button class="rounded-md shadow-md bg-indigo-600 text-white text-md font-semibold p-4 w-full">Next</button>
		</form>
	</body>
</html>
